<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <% image =  @book.image.present? ? @book.image.thumb.url : "no_image.png" %>
    <%= image_tag(image,class: "image-book") %>
  </div>
  <div class="col-md-5">
    <h2><%= @book.author %></h2>
    <h3><%= @book.name %></h3>
    <p><%= @book.description %></p>
  </div>
</div>
