<div class="area-star">
  <span class="fa fa-star fa-star-1" data-piont="1"></span>
  <span class="fa fa-star fa-star-2" data-piont="2"></span>
  <span class="fa fa-star fa-star-3" data-piont="3"></span>
  <span class="fa fa-star fa-star-4" data-piont="4"></span>
  <span class="fa fa-star fa-star-5" data-piont="5"></span>
</div>
